Repository UI-Lovelace-Minimalist/UI, pull requests merged in 2022-06, with the labels that each got.

#707 Added Custom Card Nik Tablet
  custom_cards/custom_card_nik_tablet/README.md
  custom_cards/custom_card_nik_tablet/custom_card_nik_tablet.yaml
  docs/assets/img/custom_card_nik_tablet_1.png
  docs/assets/img/custom_card_nik_tablet_2.png
Labels: :bulb: feature

#710 Update to custom_card_esh readme to include customizations
  custom_cards/custom_card_esh_room/README.md
Labels: :memo: documentation

#719 Added Custom clock Card
  custom_cards/custom_card_nik_clock/README.md
  custom_cards/custom_card_nik_clock/custom_card_nik_clock.yaml
  docs/assets/img/custom_card_nik_clock.png
  docs/usage/custom_cards/custom_card_nik_clock.md
Labels: :bulb: custom feature

#708 Small tweaks to various default cards
  custom_cards/custom_card_afvalophaling/README.md
  custom_cards/custom_card_apexcharts/README.md
  custom_cards/custom_card_bar_card/README.md
  custom_cards/custom_card_chromecast/README.md
  custom_cards/custom_card_damix48_power_details/README.md
  custom_cards/custom_card_eraycetinay_elapsed_time/README.md
  custom_cards/custom_card_eraycetinay_lock/README.md
  custom_cards/custom_card_eraycetinay_lock/custom_card_eraycetinay_lock.yaml
  custom_cards/custom_card_esh_room/README.md
  custom_cards/custom_card_esh_room/custom_card_esh_room.yaml
  custom_cards/custom_card_esh_welcome/README.md
  custom_cards/custom_card_heat_pump/README.md
  custom_cards/custom_card_homeassistant_updates/README.md
  custom_cards/custom_card_httpedo13_thermostat/README.md
  custom_cards/custom_card_irmajavi_entities/README.md
  custom_cards/custom_card_irmajavi_speedtest/README.md
  custom_cards/custom_card_irmajavi_weather/README.md
  custom_cards/custom_card_media_player_sonos/README.md
  custom_cards/custom_card_more_power_outlet/readme.md
  custom_cards/custom_card_mpse_gauge/README.md
  custom_cards/custom_card_mpse_printer/README.md
  custom_cards/custom_card_mpse_thermostat/README.md
  custom_cards/custom_card_mpse_wifisignal/README.md
  custom_cards/custom_card_nas/README.md
  custom_cards/custom_card_nik_door/README.md
  custom_cards/custom_card_nik_nas/README.md
  custom_cards/custom_card_paddy_dwd_pollen/README.md
  custom_cards/custom_card_paddy_waste_collection/README.md
  custom_cards/custom_card_paddy_welcome/README.md
  custom_cards/custom_card_person_info/README.md
  custom_cards/custom_card_playstation/README.md
  custom_cards/custom_card_qubino/README.md
  custom_cards/custom_card_schumijo_car/README.md
  custom_cards/custom_card_schumijo_flower/README.md
  custom_cards/custom_card_tpx01_aircondition/README.md
  custom_cards/custom_card_vncntdev_device_tracer/README.md
  custom_cards/custom_card_water_heater/README.md
  custom_cards/custom_card_yagrasdemonde_lights_count/README.md
  custom_cards/custom_chip_myenedis/README.md
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_generic.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_generic_swap.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_input_boolean.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_light.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_media_player.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_navigate.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_person.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_power_outlet.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_script.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_vacuum.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/chips/chip_alarm.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/chips/chip_back.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/chips/chip_icon_label.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/chips/chip_temperature.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/chips/chip_weather_date.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/popup_templates/popups/popup_light_brightness.yaml
  docs/development/custom_cards.md
  docs/usage/cards/card_light.md
  docs/usage/chips/chip_back.md
Labels: :sparkles: enhancement

#733 Fixed indentation for tablet restart control
  custom_cards/custom_card_nik_tablet/custom_card_nik_tablet.yaml
Labels: :bug: bug

#732 Added/Fixed: The Light Slider can now be dragged!
  .github/labels.yml
  .github/release-drafter.yml
  custom_cards/custom_card_esh_room/README.md
  custom_cards/custom_card_nik_clock/README.md
  custom_cards/custom_card_nik_clock/custom_card_nik_clock.yaml
  custom_cards/custom_card_nik_tablet/README.md
  custom_cards/custom_card_nik_tablet/custom_card_nik_tablet.yaml
  custom_cards/custom_card_paddy_welcome/custom_card_paddy_welcome.yaml
  custom_cards/custom_card_schumijo_car/custom_card_schumijo_car.yaml
  custom_cards/custom_card_wsly_pollen/README.md
  custom_cards/custom_card_wsly_pollen/custom_card_wsly_pollen.yaml
  custom_cards/custom_card_wsly_pollen/languages/de.yaml
  custom_cards/custom_card_wsly_pollen/languages/en.yaml
  custom_cards/custom_card_wsly_pollen/languages/es.yaml
  custom_cards/custom_card_wsly_pollen/languages/nl.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_light.yaml
  docs/assets/img/custom_card_nik_clock.png
  docs/assets/img/custom_card_nik_tablet_1.png
  docs/assets/img/custom_card_nik_tablet_2.png
  docs/usage/custom_cards/custom_card_esh_room.md
  docs/usage/custom_cards/custom_card_nik_clock.md
  docs/usage/custom_cards/custom_card_nik_tablet.md
  docs/usage/custom_cards/custom_card_wsly_pollen.md
Labels: :sparkles: enhancement

#730 [card_scenes] Fix template name interfering
  custom_cards/custom_card_esh_room/README.md
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_scenes_welcome.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_welcome_scenes.yaml
Labels: :bug: bug

#735 Support percentage_step to custom_card_saxel_fan
  custom_cards/custom_card_saxel_fan/custom_card_saxel_fan.yaml
Labels: :sparkles: custom enhancement

#745 Adding feature to "custom_card_eraycetinay_lock".
  custom_cards/custom_card_eraycetinay_lock/README.md
  custom_cards/custom_card_eraycetinay_lock/custom_card_eraycetinay_lock.yaml
  custom_cards/custom_card_eraycetinay_lock/languages/DE.yaml
  custom_cards/custom_card_eraycetinay_lock/languages/EN.yaml
  custom_cards/custom_card_eraycetinay_lock/languages/ES.yaml
  custom_cards/custom_card_eraycetinay_lock/languages/PL.yaml
  custom_cards/custom_card_eraycetinay_lock/languages/TR.yaml
  docs/assets/img/custom_card_eraycetinay_lock.png
  docs/assets/img/custom_card_eraycetinay_lock_locked.png
  docs/assets/img/custom_card_eraycetinay_lock_unlocked.png
Labels: :sparkles: custom enhancement

#744 Adding feature to "custom_card_esh_welcome".
  custom_cards/custom_card_esh_welcome/README.md
  custom_cards/custom_card_esh_welcome/custom_card_esh_welcome.yaml
Labels: :sparkles: custom enhancement

#741 Add Points Per Hour variable (Solves #704)
  custom_cards/custom_card_nik_tablet/custom_card_nik_tablet.yaml
  custom_cards/custom_card_saxel_fan/custom_card_saxel_fan.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/2-line_cards/card_graph.yaml
Labels: :sparkles: enhancement

#749 Initial release of a new card named "custom_card_sisimomo_printer"
  custom_cards/custom_card_sisimomo_printer/README.md
  custom_cards/custom_card_sisimomo_printer/custom_card_sisimomo_printer.yaml
  docs/assets/img/custom_card_sisimomo_printer.png
Labels: :bulb: custom feature

#755 Add Finnish translations
  custom_components/ui_lovelace_minimalist/lovelace/translations/fi.yaml
  custom_components/ui_lovelace_minimalist/translations/fi.json
Labels: :speech_balloon: translation

#750 Add Brazilian Portuguese Translation to UI
  custom_components/ui_lovelace_minimalist/translations/pt-BR.json
Labels: :speech_balloon: translation

#727 Add translations to custom_card_irmajavi_speedtest
  custom_cards/custom_card_irmajavi_speedtest/custom_card_irmajavi_speedtest.yaml
  custom_cards/custom_card_irmajavi_speedtest/languages/en.yaml
  custom_cards/custom_card_irmajavi_speedtest/languages/es.yaml
Labels: :speech_balloon: translation

#724 Add custom chip chip_update
  custom_cards/custom_chip_update/README.md
  custom_cards/custom_chip_update/custom_chip_update.yaml
Labels: :bulb: custom feature

#793 Update Nik clock
  custom_cards/custom_card_nik_clock/README.md
  custom_cards/custom_card_nik_clock/custom_card_nik_clock.yaml
Labels: :bug: bug, :sparkles: custom enhancement

#797 Introduce minimum spread variable for thermostat card
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_thermostat.yaml
  docs/usage/cards/card_thermostat.md
Labels: :sparkles: enhancement

#783 Custom name (issue #778)
  custom_cards/custom_card_apexcharts/README.md
  custom_cards/custom_card_apexcharts/apexcharts.yaml
  custom_cards/custom_card_bar_card/README.md
  custom_cards/custom_card_bar_card/custom_card_bar_card.yaml
  custom_cards/custom_card_damix48_power_details/README.md
  custom_cards/custom_card_damix48_power_details/custom_card_damix48_power_details.yaml
  custom_cards/custom_card_nik_nas/README.md
  custom_cards/custom_card_nik_nas/custom_card_nik_nas.yaml
  custom_cards/custom_card_nik_tablet/README.md
  custom_cards/custom_card_nik_tablet/custom_card_nik_tablet.yaml
  custom_cards/custom_card_paddy_dwd_pollen/README.md
  custom_cards/custom_card_paddy_dwd_pollen/custom_card_paddy_dwd_pollen.yaml
  custom_cards/custom_card_paddy_waste_collection/README.md
  custom_cards/custom_card_paddy_waste_collection/custom_card_paddy_waste_collection.yaml
  custom_cards/custom_card_vncntdev_device_tracer/README.md
  custom_cards/custom_card_vncntdev_device_tracer/vncntdev_card_device_tracer.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/2-line_cards/card_graph.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_battery.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_binary_sensor.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_binary_sensor_alert.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_generic.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_generic_swap.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_input_boolean.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_power_outlet.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/internal_templates/icon_info_bg.yaml
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/internal_templates/icon_more_info.yaml
  docs/usage/cards/card_battery.md
Labels: :bug: bug, :sparkles: enhancement

#779 Wrong variable names not working for custom lock card
  custom_cards/custom_card_eraycetinay_lock/README.md
  custom_cards/custom_card_eraycetinay_lock/custom_card_eraycetinay_lock.yaml
Labels: :sparkles: custom enhancement

#775 Update en.yaml
  custom_components/ui_lovelace_minimalist/lovelace/translations/en.yaml
  docs/usage/cards/card_binary_sensor.md
  docs/usage/custom_cards/custom_chip_update.md
  docs/usage/popups/popup_power_outlet.md
Labels: :speech_balloon: translation

#803 [card_cover] Change arrows when gate
  custom_components/ui_lovelace_minimalist/lovelace/ulm_templates/card_templates/cards/card_cover.yaml
Labels: :bug: bug
